.home-page {
    $headingGap: 1rem;
    position: relative;
    margin: 0 auto;

    header {
        $headerHight: min(600px, 100vh);

        position: relative;
        width: 100%;
        height: $headerHight;

        .horizontal-slider {
            width: 100%;
            height: $headerHight;

            &::after {
                content: '';
                position: absolute;
                background: linear-gradient(180deg, var(--colorBg) 5.23%, var(--colorMainTransparent) 100%);
                inset: 0;
                pointer-events: none;
            }

            &__pictures img {
                width: 100vw;
                height: $headerHight;
            }

            &__tools {
                $margin: 1rem;

                top: calc(var(--navbarHeight) + $margin);
                right: $margin;
            }

            &__arrows {
                top: var(--navbarHeight);
                height: calc($headerHight - var(--navbarHeight));
            }
        }
    }

    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: var(--widthContent);
        position: relative;
        margin: 0 auto;
        padding-block: 2rem;
        gap: 2rem;

        .advertisment {
            width: 100%;

            &__list {
                display: grid;
                grid-template-rows: 8rem 8rem;
                grid-template-areas: "A A A A B B B C C"
                                    "D D D D D E E E E";
                gap: 1rem;

                .list__ad {
                    background: var(--colorMain);
                    border-radius: var(--bdrsDefault);
                    padding: 0.25rem;

                    &:nth-child(1) {
                        grid-area: A;
                    }

                    &:nth-child(2) {
                        grid-area: B;
                    }

                    &:nth-child(3) {
                        grid-area: C;
                    }

                    &:nth-child(4) {
                        grid-area: D;
                    }

                    &:nth-child(5) {
                        grid-area: E;
                    }
                }
            }
        }

        .recommendations {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: $headingGap;

            h2 {
                color: var(--colorText);
            }

            &__list {
                width: 100%;
                display: grid;
                grid-template-columns: repeat(3, minmax(15rem, 1fr)); // auto-fit
                grid-template-rows: 10rem 10rem;
                gap: 1rem;
            }
        }

        .sale {

            &__list {
                li {
                    
                }
            }
        }

        .history {

            &__list {
                li {
                    
                }
            }
        }
    }
}