.home-page {
    position: relative;
    margin: 0 auto;

    header {
        $headerHight: min(650px, 100vh);

        position: relative;
        width: 100%;
        height: $headerHight;

        .horizontal-slider {
            width: 100%;
            height: $headerHight;

            &::after {
                content: '';
                position: absolute;
                background: linear-gradient(180deg, var(--colorBg) 5.23%, var(--colorMainTransparent) 100%);
                inset: 0;
                pointer-events: none;
            }

            &__pictures img {
                width: 100vw;
                height: $headerHight;
            }

            &__tools {
                $margin: 1rem;

                top: calc(var(--navbarHeight) + $margin);
                right: $margin;
            }

            &__arrows {
                top: var(--navbarHeight);
                height: calc($headerHight - var(--navbarHeight));
            }
        }
    }

    main {
        width: var(--widthContent);

        .advertisment {

            &__list {
                li {

                }
            }
        }

        .recommendations {

            &__list {
                li {
                    
                }
            }
        }

        .sale {

            &__list {
                li {
                    
                }
            }
        }

        .history {

            &__list {
                li {
                    
                }
            }
        }
    }
}