.product-price {
    display: flex;
    align-items: center;
    gap: 1rem;

    &__btn {
        padding: .8rem 1rem;
        background: var(--colorBg);
        display: flex;
        align-items: center;
        gap: .25rem;
        border-radius: var(--bdrsDefault);

        .prices {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            &__original {
                position: relative;
                color: var(--colorTextDark);
                font-size: var(--fontSize4);
                text-decoration: line-through;
	            text-decoration-color: var(--colorAccent);
            }

            &__main {
                font-size: var(--fontSize3);
            }
        }

        &:hover .btn__icon {
            color: var(--colorMain);
        }

        .btn__icon {
            transition: var(--transitionDefault);
            color: var(--colorText);
            width: 2rem;

            &.in-cart {
                color: var(--colorMain);
            }
        }
    }

    &__favourite {
        &:hover {
            .favourite__icon {
                color: var(--colorAccent);
            }
        }

        .favourite__icon {
            color: var(--colorText);
            transition: var(--transitionDefault);
            width: 2rem;

            &.is-favourite {
                color: var(--colorAccent);
            }
        }
    }
}