.profile-page {
    $marginTop: calc(var(--navbarHeight) + 1rem);
    min-height: calc(100vh - $marginTop);

    position: relative;
    width: var(--widthContent);
    margin: $marginTop auto 0;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding-bottom: 1rem;

    main {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;

        .profile-top {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;

            &__content {
                display: flex;
                align-items: center;
                gap: 1rem;

                .content__link {
                    color: var(--colorText);
                    transition: var(--transitionDefault);
    
                    &:hover {
                        color: var(--colorMain);
                    }
    
                    .link__icon {
                        width: 4rem;
                        height: 4rem;
                    }
                }

                .content__picture {
                    border-radius: 50%;
                    width: 18rem;
                    height: 18rem;
                    object-fit: cover;
                    object-position: center;
                }
            }
            
            &__btn {
                color: var(--colorText);
                background: var(--colorGray);
                transition: var(--transitionDefault);
                border-radius: var(--bdrsDefault);
                padding: .75rem 2rem;
                text-decoration: none;
                font-size: var(--fontSize4);

                &:hover {
                    background: var(--colorMain);
                }
            }
        }

        .profile-info {
            background: var(--colorMain);
            border-radius: var(--bdrsDefault);
            padding: 1rem 1.5rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0.5rem;
            min-width: 60%;

            &__id,
            &__email,
            &__phone,
            &__address {
                font-weight: 300;
            }

            &__id,
            &__name,
            &__email,
            &__phone,
            &__address {
                display: flex;
                align-items: center;
                gap: .5rem;

                .profile-info__icon {
                    width: 2rem;
                    height: 2rem;
                }
            }
        }

        .last-deliveries {
            position: relative;
            width: 100%;
        }
    }

    footer {

    }
}