.navbar {
    $gap: 0.75rem;
    $gapText: .5rem;

    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    overflow: hidden;
    height: var(--navbarHeight);
    border-bottom: 1px solid var(--colorGray);
    background: none;
    z-index: 9999;
    
    &__inner {
        width: var(--widthContent);
        margin: 0 auto;
        display: flex;
        align-items: center;
        gap: 2rem;
        justify-content: space-between;
        padding-block: .75rem;
    }

    &__icon {
        $size: 1.75rem;
        width: $size;
        height: $size;
        transition: var(--transitionDefault);
        color: var(--colorText);
    }

    &__logo {
        width: 7rem;
    }

    .search {
        flex-grow: 1;
        max-width: 50%;
    }

    &__info {
        display: flex;
        align-items: center;
        gap: $gap;

        li {
            position: relative;
            button {
                display: flex;
                align-items: center;
                gap: $gapText;
                transition: var(--transitionDefault);
                font-size: var(--fontSize4);
            }

            &::after {
                content: '';
                position: absolute;
                transform-origin: center;
                width: 120%;
                height: 1px;
                left: 0;
                top: 150%;
                background: var(--colorText);
                transform: scaleX(0);
                transition: var(--transitionDefault);
            }

            &:hover {
                &::after {
                    transform: scaleX(1);
                }

                .navbar__icon {
                    color: var(--colorMain);
                }
            }
        }
    }

    nav {
        ul {
            display: flex;
            align-items: center;
            gap: $gap;

            li {
                a {
                    .navbar__user-picture {
                        $size: 3rem;

                        background: var(--colorText);
                        width: $size;
                        height: $size;
                        border-radius: var(--bdrsDefault);
                    }
                }

                .navbar__icon:hover {
                    color: var(--colorMain);
                }
            }
        }
    }
}