.number-field {
    display: flex;
    align-items: center;
    // justify-content: space-between;
    gap: 0.25rem;

    &__input {
        background: none;
        outline: none;
        border: none;
        color: var(--colorText);
        -moz-appearance: textfield;
        width: 1.5rem;
        text-align: center;

        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button {
            appearance: none;
            margin: 0;
        }
    }

    &__btn {
        &:hover .btn__arrow {
            color: var(--colorText);
        }
        
        .btn__arrow {
            width: 2rem;
            color: var(--colorMain);
            transition: var(--transitionDefault);
        }
    }
}