.favourite-btn {
    &:hover,
    &:focus-within {
        .favourite-btn__icon {
            color: var(--colorAccent);
        }
    }

    &__icon {
        color: var(--colorText);
        transition: var(--transitionDefault);
        width: 2rem;

        &.is-favourite {
            color: var(--colorAccent);

            &:hover,
            &:focus-within {
                color: var(--colorText);
            }
        }
    }
}