@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

:root {
    --colorBg: #222428;
    --colorMain: #2861CF;
    --colorMainTransparent: rgba(40, 97, 207, 0.25);
    --colorAccent: #CF2828;
    --colorGray: #3C4047;
    --colorGrayLight: #666C76;
    --colorText: #FFFFFF;
    --colorTextDark: #E9E9E9;
    --navbarHeight: 5.25rem;

    --widthContent: min(95%, 1400px);
    --bdrsDefault: 10px;
    --transitionDefault: 200ms;
    --fontSize1: ;
    --fontSize2: ;
    --fontSize3: ;
    --fontSize4: ;
    --fontSize5: ;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    background: var(--colorBg);
    color: var(--colorText);
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}