.search {
    $iconSize: 2rem;

    border-radius: var(--bdrsDefault);
    background: var(--colorGrayLight);
    outline: none;
    border: none;
    color: var(--colorText);
    height: 2.125rem;
    padding: .5em calc(1em + $iconSize);

    &:not([value=""]) {
        padding-inline: 1em;
    }

    &::placeholder {
        background: url('../../static/images/search.svg') no-repeat;
        background-position: 1em center;
        background-size: $iconSize $iconSize;
        color: var(--colorText);
        font-family: 'Oswald', sans-serif;
        font-weight: 300;
        opacity: 1;
    }
}