.update-location-btn {
    color: var(--colorText);
    background: var(--colorMain);
    border-radius: var(--bdrsDefault);
    font-size: var(--fontSize4);
    padding: .5rem 1.5rem;
    transition: var(--transitionDefault);

    &:hover,
    &:focus-within {
        background: var(--colorBg);
    }
}